.ImagePreview{
  width:200px;
  height: 150px;
}

.ImageThumbnail {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}
.errorMessage{
  color: red;
  font-style: italic;

}
